<!-- Modal PAM -->
<div class="modal fade" id="modalPam" tabindex="-1" aria-labelledby="modalPamLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="modalPamLabel">{{ 'pam-title' | translate }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="alert-heading">
          <i class="bi bi-bug me-2"></i>
          {{ 'about-us' | translate }}
          <a class="btn bg-light text-dark group-badge"
             href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000002681"
             target="_blank">
            <i class="bi bi-box-arrow-up-right mb-3"></i> GrupLAC
          </a>
        </h4>
        <p class="mb-0">Ubicado actualmente en la Categoría B de MinCiencias (Convocatoria 957 de 2024,
          categoría preliminar). El grupo de investigación Parasitología y Agroecología milenio, seguirá
          formulando y ejecutando proyectos orientados a alternativas novedosas en el control de insectos
          vectores de enfermedades a humanos, animales y plantas; así como en programas de desarrollo
          agro-sostenibles de cultivos y la reutilización de aguas residuales domesticas e industriales en el
          riego de cultivos agrícolas. Participar continuamente en eventos técnicos científicos de ámbito,
          regional, nacional e internacional. De igual manera se someterán los resultados de las
          investigaciones a evaluación por parte de pares académicos en revistas especializadas indexadas,
          para su posterior publicación. Continuamente se desarrollarán proyectos de investigación en los
          programas de pregrado, semilleros, jóvenes investigadores, especializaciones, maestrías y Doctorados
          enmarcados dentro del tipo de investigación aplicada y relacionados con las líneas de investigación
          del grupo. Vincular activamente a estudiantes de pregrado, fomentando en ellos cultura investigativa
          orientada a la formación de capital humano. Realizar alianzas con instituciones de carácter público
          y privado, para la cooperación y financiación de proyectos con impacto social, garantizando de esta
          manera el reconocimiento del grupo en el ámbito regional, nacional e internacional.
        </p>
        <br>
        <div class="col-12">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-view-list me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Líneas de investigación
                  </h5>
                  <ul class="mb-0">
                    <li class="mb-1">Bioprospección</li>
                    <li class="mb-1">Biotecnología agropecuaria y agroindustrial</li>
                    <li class="mb-1">Control biológico (Biocontrol-entomopatogenos)</li>
                    <li class="mb-1">Enfermedades infecciosas</li>
                    <li class="mb-1">Manejo agrosostenible de cultivos de clima cálido</li>
                    <li class="mb-1">Microbiología ambiental y de agua (Bioindicadores)</li>
                    <li class="mb-1">Parasitología y microbiología agricola</li>
                    <li class="mb-1">Prevención y control de enfermedades fitosanitarias mediante
                      microorganismos antagonicos
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-card-checklist me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Requisitos de ingreso
                  </h5>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">Interés en biodiversidad</li>
                    <li class="mb-1">Conocimientos en ecología</li>
                    <li class="mb-1">Habilidades en trabajo de campo</li>
                    <li class="mb-1">Capacidad de trabajo en equipo</li>
                    <li class="mb-1">Compromiso con la conservación</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex align-items-start">
          <i class="bi bi-bar-chart-line me-2"></i>
          <div>
            <h5 class="alert-heading mb-2">
              Proyectos
            </h5>
            <ol class="mb-0 ps-3">
              <li class="mb-1">Proyecto 1</li>
              <li class="mb-1">Proyecto 2</li>
              <li class="mb-1">Proyecto 3</li>
              <li class="mb-1">Proyecto 4</li>
            </ol>
          </div>
        </div>
        <br>
        <h5 class="alert-heading">
          <i class="bi bi-clipboard-check me-2"></i>
          Colaboraciones
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Modal MAGYA -->
<div class="modal fade" id="modalMagya" tabindex="-1" aria-labelledby="modalMagyaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="modalMagyaLabel">Microbiología Agrícola y Ambiental (MAGYA)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="alert-heading">
          <i class="bi bi-bug me-2"></i>
          {{ 'about-us' | translate }}
          <a class="btn bg-light text-dark group-badge"
             href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000002397"
             target="_blank">
            <i class="bi bi-box-arrow-up-right mb-3"></i> GrupLAC
          </a>
        </h4>
        <p class="mb-0">Ubicado actualmente en la categoría B de MinCiencias (Convocatoria 957 de 2024,
          categoría preliminar). MAGYA se enfoca en el estudio de microorganismos de importancia agrícola y
          ambiental, desarrollando soluciones biotecnológicas para la agricultura sostenible y la conservación
          ambiental. Visiona su consolidación como un grupo multidisciplinario que forme continuamente el
          talento humano y genere, divulgue y transfiera el conocimiento aplicable a la actividad agrícola,
          conservación, educación, recuperación y aprovechamiento ambiental sostenible de los recursos
          naturales y la biodiversidad en los ecosistemas naturales. Como objetivo busca generar y socializar
          conocimiento sobre el microbioma asociado a los agroecosistemas y ambientes naturales tropicales en
          la búsqueda del desarrollo sostenible del sector agrícola con especial interés en el recurso del
          suelo promoviendo la bioprospección de recursos microbiológicos de acuerdo a sus tres líneas de
          investigación.
        </p>
        <br>
        <div class="col-12">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-view-list me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Líneas de investigación
                  </h5>
                  <ul class="mb-0">
                    <li class="mb-1">Bioprospección y microorganismos de interés en agricultura
                      tropical
                    </li>
                    <li class="mb-1">Ecología microbiana y microorganismos fotosintéticos</li>
                    <li class="mb-1">Materia orgánica, salud y calidad del suelo.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-card-checklist me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Requisitos de ingreso
                  </h5>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">Interés en biodiversidad</li>
                    <li class="mb-1">Conocimientos en ecología</li>
                    <li class="mb-1">Habilidades en trabajo de campo</li>
                    <li class="mb-1">Capacidad de trabajo en equipo</li>
                    <li class="mb-1">Compromiso con la conservación</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex align-items-start">
          <i class="bi bi-bar-chart-line me-2"></i>
          <div>
            <h5 class="alert-heading mb-2">
              Proyectos
            </h5>
            <ol class="mb-0 ps-3">
              <li class="mb-1">Proyecto 1</li>
              <li class="mb-1">Proyecto 2</li>
              <li class="mb-1">Proyecto 3</li>
              <li class="mb-1">Proyecto 4</li>
            </ol>
          </div>
        </div>
        <br>
        <h5 class="alert-heading">
          <i class="bi bi-clipboard-check me-2"></i>
          Colaboraciones
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Modal CINBIOS -->
<div class="modal fade" id="modalCinbios" tabindex="-1" aria-labelledby="modalCinbiosLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="modalCinbiosLabel">CINBIOS - Ciencia e Investigación Biológica en
          Salud</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="alert-heading">
          <i class="bi bi-bug me-2"></i>
          {{ 'about-us' | translate }}
          <a class="btn bg-light text-dark group-badge"
             href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000009022"
             target="_blank">
            <i class="bi bi-box-arrow-up-right mb-3"></i> GrupLAC
          </a>
        </h4>
        <p class="mb-0">Ubicado actualmente en la categoría B de MinCiencias (Convocatoria 957 de 2024,
          categoría preliminar). CINBIOS es un grupo de investigación multidisciplinario enfocado en ciencias
          biológicas y biotecnología aplicada, integrando conocimientos de microbiología, biología molecular y
          biotecnología, para el estudio epidemiológico de enfermedades infecciosas y de resistencia
          bacteriana. Además se mantiene a la vanguardia de las nuevas tecnologías mediante el uso de la
          bioinformática y la biología computacional para el análisis de datos ómicos y el diseño de
          algoritmos, software y modelos matemáticos para comprender el metabolismo celular
        </p>
        <br>
        <div class="col-12">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-view-list me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Líneas de investigación
                  </h5>
                  <ul class="mb-0">
                    <li class="mb-1">Bioindicadores</li>
                    <li class="mb-1">Epidemiología y enfermedades infecciosas</li>
                    <li class="mb-1">Prototipos de equipos de laboratorio</li>
                    <li class="mb-1">Resistencia microbiana.</li>
                    <li class="mb-1">Ómicas, bioinformática y biología computacional</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-card-checklist me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Requisitos de ingreso
                  </h5>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">Interés en biodiversidad</li>
                    <li class="mb-1">Conocimientos en ecología</li>
                    <li class="mb-1">Habilidades en trabajo de campo</li>
                    <li class="mb-1">Capacidad de trabajo en equipo</li>
                    <li class="mb-1">Compromiso con la conservación</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex align-items-start">
          <i class="bi bi-bar-chart-line me-2"></i>
          <div>
            <h5 class="alert-heading mb-2">
              Proyectos
            </h5>
            <ol class="mb-0 ps-3">
              <li class="mb-1">Proyecto 1</li>
              <li class="mb-1">Proyecto 2</li>
              <li class="mb-1">Proyecto 3</li>
              <li class="mb-1">Proyecto 4</li>
            </ol>
          </div>
        </div>
        <br>
        <h5 class="alert-heading">
          <i class="bi bi-clipboard-check me-2"></i>
          Colaboraciones
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Modal BIOTECGEN -->
<div class="modal fade" id="modalBiotecgen" tabindex="-1" aria-labelledby="modalBiotecgenLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="modalBiotecgenLabel">Biotecnología y Genotoxicidad
          Ambiental (BIOTECGEN)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="alert-heading">
          <i class="bi bi-bug me-2"></i>
          {{ 'about-us' | translate }}
          <a class="btn bg-light text-dark group-badge"
             href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000017478"
             target="_blank">
            <i class="bi bi-box-arrow-up-right mb-3"></i> GrupLAC
          </a>
        </h4>
        <p class="mb-0">Ubicado actualmente en la categoría C de MinCiencias (Convocatoria 957 de 2024,
          categoría preliminar). BiotecGen visiona ser un grupo reconocido por su calidad científica, líder en
          investigación en el campo de las ciencias biológicas y aprovechamiento de la biodiversidad en
          Colombia, desarrollador de productos y servicios biotecnológicos innovadores con impacto positivo en
          el desarrollo sostenible del sector agrícola, industrial, alimentario y ambiental. Como objetivo
          busca desarrollar investigación básica y aplicada que aproveche el uso de los recursos microbianos
          de ambientes naturales en Colombia de acuerdo a sus dos líneas de investigación.
        </p>
        <br>
        <div class="col-12">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-view-list me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Líneas de investigación
                  </h5>
                  <ul class="mb-0">
                    <li class="mb-1">Biotecnología y bioprospección microbiana</li>
                    <li class="mb-1">Mutagénesis ambiental</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-card-checklist me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Requisitos de ingreso
                  </h5>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">Interés en biodiversidad</li>
                    <li class="mb-1">Conocimientos en ecología</li>
                    <li class="mb-1">Habilidades en trabajo de campo</li>
                    <li class="mb-1">Capacidad de trabajo en equipo</li>
                    <li class="mb-1">Compromiso con la conservación</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex align-items-start">
          <i class="bi bi-bar-chart-line me-2"></i>
          <div>
            <h5 class="alert-heading mb-2">
              Proyectos
            </h5>
            <ol class="mb-0 ps-3">
              <li class="mb-1">Proyecto 1</li>
              <li class="mb-1">Proyecto 2</li>
              <li class="mb-1">Proyecto 3</li>
              <li class="mb-1">Proyecto 4</li>
            </ol>
          </div>
        </div>
        <br>
        <h5 class="alert-heading">
          <i class="bi bi-clipboard-check me-2"></i>
          Colaboraciones
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Modal ZOOBIOS -->
<div class="modal fade" id="modalZoobios" tabindex="-1" aria-labelledby="modalZoobiosLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="modalZoobiosLabel">ZOOBIOS - Zoología y Ciencias Biológicas</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="alert-heading">
          <i class="bi bi-bug me-2"></i>
          {{ 'about-us' | translate }}
          <a class="btn bg-light text-dark group-badge"
             href="https://scienti.minciencias.gov.co/gruplac/jsp/visualiza/visualizagr.jsp?nro=00000000001901"
             target="_blank">
            <i class="bi bi-box-arrow-up-right mb-3"></i> GrupLAC
          </a>
        </h4>
        <p class="mb-0">Ubicado actualmente en la categoría B de MinCiencias (Convocatoria 957 de 2024,
          categoría preliminar). ZOOBIOS busca contribuir en la formación investigativa de los estudiantes,
          egresados, docentes y sector productivo con el fin de propiciar un desarrollo permanente de la
          investigación del Programa de Microbiología de la Universidad Popular del cesar en la Región Caribe.
          Formar personas integras en un ambiente abierto y voluntario, con el fin de contribuir al desarrollo
          social, tecnológico, económico y ambiental de la región Caribe y del país. Fomentar un pensamiento
          crítico para estimular el diseño de proyectos de investigación acordes con la realidad de nuestro
          entorno. Aportar soluciones con una visión integral a los problemas de la región caribe y del país.
          Contribuir al desarrollo de las líneas de investigación propuestas por el grupo. Incubar proyectos
          de investigación con viabilidad de desarrollo.
        </p>
        <br>
        <div class="col-12">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-view-list me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Líneas de investigación
                  </h5>
                  <ul class="mb-0">
                    <li class="mb-1">Nutrición animal</li>
                    <li class="mb-1">Biodiversidad y recursos genéticos</li>
                    <li class="mb-1">Biotecnología y medio ambiente</li>
                    <li class="mb-1">Desarrollo rural</li>
                    <li class="mb-1">Epidemiología y enfermedades infecciosas</li>
                    <li class="mb-1">Reproducción y mejoramiento animal</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex align-items-start">
                <i class="bi bi-card-checklist me-2 mt-1"></i>
                <div>
                  <h5 class="alert-heading">
                    Requisitos de ingreso
                  </h5>
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">Interés en biodiversidad</li>
                    <li class="mb-1">Conocimientos en ecología</li>
                    <li class="mb-1">Habilidades en trabajo de campo</li>
                    <li class="mb-1">Capacidad de trabajo en equipo</li>
                    <li class="mb-1">Compromiso con la conservación</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex align-items-start">
          <i class="bi bi-bar-chart-line me-2"></i>
          <div>
            <h5 class="alert-heading mb-2">
              Proyectos
            </h5>
            <ol class="mb-0 ps-3">
              <li class="mb-1">Proyecto 1</li>
              <li class="mb-1">Proyecto 2</li>
              <li class="mb-1">Proyecto 3</li>
              <li class="mb-1">Proyecto 4</li>
            </ol>
          </div>
        </div>
        <br>
        <h5 class="alert-heading">
          <i class="bi bi-clipboard-check me-2"></i>
          Colaboraciones
        </h5>
      </div>
    </div>
  </div>
</div>
